@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: #f7f5ee;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.primaryColor {
  color: #f7f5ee;
}
.title {
  font-family: lust-sans, sans-serif;
  margin: 0;
  line-height: 1.15;
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
  text-transform: lowercase;
}
.subtitle {
  font-family: "lust-sans", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  padding-bottom: 1rem;
}
.buttonPrimary {
  letter-spacing: 2px;
  text-transform: lowercase;
  border: none;
  width: 100px;
  background: #006972;
  color: #efeee8;
  cursor: pointer;
}
.x {
  font-size: 21px;
  font-weight: 100;
  cursor: pointer;
  font-family: "Montserrat";
}
.buttonSecondary {
  letter-spacing: 2px;
  text-transform: lowercase;
  border: none;
  width: 200px;
  height: 34px;
  background: black;
  color: #efeee8;
  cursor: pointer;
}
