.title {
  font-family: lust-sans, sans-serif;
  font-size: 2rem;
  margin: 20px;
  font-weight: 300;
}
.infoMain {
  padding: 5rem;
  max-width: 800px;
  margin: auto;
}
.subtitle {
  font-size: 3rem;
  font-family: "lust-sans";
}
.smallTitle {
  font-size: 2rem;
  font-family: "lust-sans";
  margin-bottom: 10px;
}
.schedule {
  margin: 20px 50px;
  font-weight: 300;
  font-size: 1.2rem;
}
.notice {
  font-weight: 300;
  font-size: 0.85rem;
}
.paymentLink {
  font-weight: 700;
}
.payment {
  margin: 50px 0;
  text-align: center;
  font-weight: 300;
}
.newsletter {
  border: 2px solid black;
  height: 50px;
  width: 100%;
  background: unset;
  padding: 10px;
  font-size: 15px;
}
.newsletter:focus {
  outline: none;
}
.instaLogo {
  position: absolute;
  width: 20px;
  top: 25px;
  right: 25px;
}
.submit {
  margin-top: 20px;
  letter-spacing: 2px;
  text-transform: lowercase;
  border: none;
  width: 100px;
  height: 34px;
  background: black;
  color: #efeee8;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .title {
    font-size: 1.5rem;
    font-weight: 400;
  }
  .smallTitle {
    padding-top: 40px;
  }
  .infoMain {
    padding: 5rem 20px;
  }
}
